
<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title text-center id="checkin">Lista de Check-in</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>

    <ion-fab-button id="botao-ok" (click)="diagnostico()">
        <ion-icon md="md-arrow-dropright-circle" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab>
      <ion-fab vertical="bottom" horizontal="begin" slot="fixed">
        <ion-fab-button id="botao-nok" (click)="voltarparahome()">
          <ion-icon  md="md-arrow-dropleft-circle" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
