<ion-content padding>

    <p>Recepção

        //Recepcionista aceita ou não
    </p>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button id="botao-ok" (click)="encaminhamed()">
          <ion-icon md="md-checkmark-circle-outline" color="success"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="begin" slot="fixed">
      <ion-fab-button id="botao-nok" (click)="listaped()">
        <ion-icon md="md-close-circle" color="success"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
