<ion-content padding id="pagina-go">
    <p>Situação

        //Somar valor das doenças e retornar a situação
    </p>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button id="botao-ok" (click)="lista()">
          <ion-icon md="md-checkmark-circle-outline" color="success"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="begin" slot="fixed">
      <ion-fab-button id="botao-nok" (click)="voltarparahome()">
        <ion-icon md="md-close-circle" color="success"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
