#botao-nok{

    margin-left: 20%;
   // color: #FFFFFF;
}

#disc{
    font-family: "Verdana" !important;
    font-weight: bold !important;
    margin: 0 !important;
    background: linear(rgb(123, 237, 183)) !important;
    font-size: 80px !important;
}