
<ion-content padding id="perfil">

    <ion-img src="/assets/image/Emeragil - PPT Vertical.png"></ion-img>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Eduardo Albuquerque</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Data de Nascimento: 20/12/1994</p>
            <p>Gênero: Masculino</p>
            <p>Sangue: O+</p>
            <p>Hospital: Memorial</p>
        </ion-card-content>
    </ion-card>

    <ion-button fill="outline" shape="round" color="primary" id="botao-sintomas" (click)="voltarparahome()">
        Início
      </ion-button>
    <ion-button fill="outline" shape="round" color="primary" id="botao-inicio" (click)="hospital()">
        Sintomas
      </ion-button>
</ion-content>
