
<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title text-center id="sintomas">Sintomas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding id="pagina-hospital">

 <form>
  <ion-item>
    <ion-checkbox color="success">Dor de cabeça</ion-checkbox>
      <p>Dor de cabeça</p>
    </ion-item>
    <ion-item>
    <ion-checkbox color="success">Enjôo</ion-checkbox>
      <p>Tonteira</p>
    </ion-item>
    <ion-item>
    <ion-checkbox color="success">Vômito</ion-checkbox>
     <p>Vômito</p>
    </ion-item>
    <ion-item>
    <ion-checkbox color="success">Desmaio</ion-checkbox>
     <p>Taquicardia</p>
    </ion-item>
</form> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="botao-ok" (click)="go()">
      <ion-icon md="md-arrow-dropright-circle" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-fab vertical="bottom" horizontal="begin" slot="fixed">
      <ion-fab-button id="botao-nok" (click)="voltarparahome()">
        <ion-icon  md="md-arrow-dropleft-circle" color="light"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>