
<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title text-center id="sintomas">Sintomas</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding id="pagina-hospital">

<!----<ion-menu side="start">
<ion-header>
    <ion-toolbar>
      <ion-title>Sintomas</ion-title>
    </ion-toolbar>
</ion-header>
<ion-router-outlet></ion-router-outlet>
</ion-menu>-->

<form>
  <ion-item>
    <ion-checkbox color="success">Dor de cabeça</ion-checkbox>
      <p>Dor de cabeça</p>
    </ion-item>
    <ion-item>
    <ion-checkbox color="success">Enjôo</ion-checkbox>
      <p>Tonteira</p>
    </ion-item>
    <ion-item>
    <ion-checkbox color="success">Vômito</ion-checkbox>
     <p>Vômito</p>
    </ion-item>
    <ion-item>
    <ion-checkbox color="success">Desmaio</ion-checkbox>
     <p>Taquicardia</p>
    </ion-item>
</form> 

  <!----<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="botao-ok" (click)="go()">
      <ion-icon md="md-" color="success"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-fab >
      <ion-fab-button vertical="bottom" horizontal="begin" slot="fixed" id="botao-nok" (click)="voltarparahome()">
        <ion-icon md="md-arrow-dropleft-outline" color="success"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->

    <button ion-button icon-start>
        <ion-icon name="star"></ion-icon>
        Left Icon
      </button>

</ion-content>