
<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title text-center id="diagnostico">Diagnóstico</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding id="diagnostico">

    <ion-list>
        <ion-item>
          <ion-avatar slot="start">
              <ion-icon id="disc" md="md-disc" color="danger"></ion-icon>
            <ion-list>
                <ion-item>
                  <ion-avatar slot="start">
                    <ion-icon id="disc" md="md-disc" color="danger"></ion-icon>
                  </ion-avatar>
                  <ion-label>
                    <h2>Eduardo Albuquerque</h2>
                    <h3>Plano: Memorial</h3>
                  </ion-label>
                </ion-item>
              </ion-list>
          </ion-avatar>
          <ion-label>
            <h2>Eduardo Albuquerque</h2>
            <h3>Plano: Memorial</h3>
          </ion-label>
        </ion-item>
      </ion-list> 

      <ion-list>
          <ion-item>
            <ion-avatar slot="start">
                <ion-icon id="disc" md="md-disc" color="secondary"></ion-icon>
              <ion-list>
                  <ion-item>
                    <ion-avatar slot="start">
                      <ion-icon id="disc" md="md-disc" color="secondary"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                      <h2>Caroline Albuquerque</h2>
                      <h3>Plano: Unimed</h3>
                    </ion-label>
                  </ion-item>
                </ion-list>
            </ion-avatar>
            <ion-label>
              <h2>Caroline Albuquerque</h2>
              <h3>Plano: Unimed</h3>
            </ion-label>
          </ion-item>
        </ion-list> 

        <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                  <ion-icon id="disc" md="md-disc" color="success"></ion-icon>
                <ion-list>
                    <ion-item>
                      <ion-avatar slot="start">
                        <ion-icon id="disc" md="md-disc" color="success"></ion-icon>
                      </ion-avatar>
                      <ion-label>
                        <h2>Yuri Salvador</h2>
                        <h3>Plano: Sulamerica</h3>
                      </ion-label>
                    </ion-item>
                  </ion-list>
              </ion-avatar>
              <ion-label>
                <h2>Yuri Salvador</h2>
                <h3>Plano: Sulamerica</h3>
              </ion-label>
            </ion-item>
          </ion-list> 

          <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                    <ion-icon id="disc" md="md-disc" color="tertiary"></ion-icon>
                  <ion-list>
                      <ion-item>
                        <ion-avatar slot="start">
                          <ion-icon id="disc" md="md-disc" color="tertiary"></ion-icon>
                        </ion-avatar>
                        <ion-label>
                          <h2>Alexandre Bastos</h2>
                          <h3>Plano: Amil</h3>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                </ion-avatar>
                <ion-label>
                  <h2>Alexandre Bastos</h2>
                  <h3>Plano: Amil</h3>
                </ion-label>
              </ion-item>
            </ion-list> 
        <ion-fab vertical="bottom" horizontal="begin" slot="fixed">
          <ion-fab-button id="botao-nok" (click)="voltarparahome()">
            <ion-icon  md="md-arrow-dropleft-circle" color="light"></ion-icon>
          </ion-fab-button>
      </ion-fab>
</ion-content>
