
#pagina-inicial{
}


#botao-cadastro{

    position: auto;
    //width:200px;
    margin-left:30%;
    //margin-right:50%;
    margin-top:30%;
}

#logoinicial{

    //position: auto;
    width:370px;
    margin-left:-6.5%;
    margin-right:-6.5%;
    margin-top:-6.5px;
}