<ion-content padding id="pagina-cadastro">  

    <ion-img src="/assets/image/Emeragil - PPT Vertical.png"></ion-img>

  <form [formGroup]="cadastrarForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Data de Nascimento</ion-label>
        <ion-datetime formControlName="data_nasc" display-format="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
          <ion-label>Gênero</ion-label>
          <ion-select value="F" cancel-text="Dismiss">
            <ion-select-option value="F">Feminino</ion-select-option>
            <ion-select-option value="M">Masculino</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Sangue</ion-label>
        <ion-select value="O+" cancel-text="Cancelar">
        <ion-select-option value="O+">O+</ion-select-option>
        <ion-select-option value="O-">O-</ion-select-option>
        <ion-select-option value="A+">A+</ion-select-option>
        <ion-select-option value="A-">A-</ion-select-option>
        <ion-select-option value="AB">AB</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
          <ion-label>Hospital</ion-label>
          <ion-select value="Copa D'Or" cancel-text="Cancelar">
            <ion-select-option value="Copa D'Or">Copa D'Or</ion-select-option>
            <ion-select-option value="Pasteur">Pasteur</ion-select-option>
            <ion-select-option value="Badim">Badim</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-button type="submit" size="full" 
        color="primary" id="botao-checkin" (click)="onSubmit()">Salvar</ion-button>
  </form> 

</ion-content>

<!--[disabled]="cadastrarForm.invalid" -->
